---
provides: [aes_pkg]
schema_version: 2.4.0
requires:
  - edn_pkg
  - caliptra_prim
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/aes_reg_pkg.sv
      - $COMPILE_ROOT/rtl/aes_pkg.sv
      - $COMPILE_ROOT/rtl/aes_sbox_canright_pkg.sv
---
provides: [aes]
schema_version: 2.4.0
requires:
  - aes_pkg
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/aes_sbox_canright.sv
      - $COMPILE_ROOT/rtl/aes_sbox_canright_masked.sv
      - $COMPILE_ROOT/rtl/aes_cipher_core.sv
      - $COMPILE_ROOT/rtl/aes_sbox.sv
      - $COMPILE_ROOT/rtl/aes_cipher_control_fsm_n.sv
      - $COMPILE_ROOT/rtl/aes_cipher_control_fsm_p.sv
      - $COMPILE_ROOT/rtl/aes_sbox_lut.sv
      - $COMPILE_ROOT/rtl/aes_mix_columns.sv
      - $COMPILE_ROOT/rtl/aes_sbox_dom.sv
      - $COMPILE_ROOT/rtl/aes_sub_bytes.sv
      - $COMPILE_ROOT/rtl/aes_sbox_canright_masked_noreuse.sv
      - $COMPILE_ROOT/rtl/aes_sel_buf_chk.sv
      - $COMPILE_ROOT/rtl/aes_cipher_control_fsm.sv
      - $COMPILE_ROOT/rtl/aes_shift_rows.sv
      - $COMPILE_ROOT/rtl/aes_mix_single_column.sv
      - $COMPILE_ROOT/rtl/aes_cipher_control.sv
      - $COMPILE_ROOT/rtl/aes_prng_masking.sv
      - $COMPILE_ROOT/rtl/aes_key_expand.sv
    tops: [aes_cipher_core]
  rtl_lint:
    directories: []
    waiver_files: []
    tops: [aes_cipher_core]
