---
provides: [lc_ctrl_pkg]
schema_version: 2.4.0
requires:
  - caliptra_prim_pkg
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/lc_ctrl_reg_pkg.sv
      - $COMPILE_ROOT/rtl/lc_ctrl_state_pkg.sv
      - $COMPILE_ROOT/rtl/lc_ctrl_pkg.sv
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/lc_ctrl_reg_pkg.sv
      - $COMPILE_ROOT/rtl/lc_ctrl_state_pkg.sv
      - $COMPILE_ROOT/rtl/lc_ctrl_pkg.sv
