---
provides: [caliptra_top_defines]
schema_version: 2.4.0
targets:
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/config_defines.svh
      - $COMPILE_ROOT/rtl/caliptra_reg_defines.svh
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/config_defines.svh
---
provides: [caliptra_top]
schema_version: 2.4.0
requires:
  - caliptra_top_defines
  - libs
  - kv_defines_pkg
  - pv_defines_pkg
  - dv_defines_pkg
  - el2_veer_pkg
  - el2_veer_wrapper
  - ahb_lite_bus
  - sha512_ctrl
  - sha256_ctrl
  - doe_ctrl
  - hmac_ctrl
  - ecc_top
  - abr_top
  - keyvault
  - pcrvault
  - datavault
  - soc_ifc_top
  - entropy_src
  - csrng
  - aes
  - sha3_ctrl
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/caliptra_top.sv
    tops: [caliptra_top]
  rtl_lint:
    waiver_files:
      - $MSFT_REPO_ROOT/src/integration/config/design_lint/sglint_waivers
    options:
      - '+define+CALIPTRA_INTERNAL_TRNG'
      - '+define+CALIPTRA_AXI_DMA_ADDR_WIDTH=32'
  cdc:
    tcl_files:
      - $COMPILE_ROOT/config/cdc/integration_top.constraints.tcl
      - $COMPILE_ROOT/config/cdc/integration_top.waivers.tcl
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
#        - '+define+CALIPTRA_INTERNAL_TRNG'
        #- '-v2k_generate'
---
provides: [caliptra_top_tb_pkg]
schema_version: 2.4.0
requires:
  - asserts
  - axi_pc
  - libs
  - caliptra_axi_sram
  - caliptra_top
  - el2_veer_pkg
  - el2_veer_wrapper
  - physical_rng
  - sha512_coverage
  - sha256_coverage
  - hmac_coverage
  - hmac_drbg_coverage
  - ecc_coverage
  - soc_ifc_coverage
  - pcrvault_cov
  - keyvault_cov
  - abr_coverage
  - axi_dma_coverage
targets:
  dpi_compile:
    directories:
      - $COMPILE_ROOT/test_suites/libs/tcp_server
      - $COMPILE_ROOT/test_suites/libs/jtagdpi
    files:
      - $COMPILE_ROOT/test_suites/libs/tcp_server/tcp_server.h
      - $COMPILE_ROOT/test_suites/libs/tcp_server/tcp_server.c
      - $COMPILE_ROOT/test_suites/libs/jtagdpi/jtagdpi.h
      - $COMPILE_ROOT/test_suites/libs/jtagdpi/jtagdpi.c
    options:
      - '-Wno-unused-variable'
      - '-Wno-unused-function'
      - tool:
          vcs:
            - '-DVCS'
          ius:
            - '-DXCELIUM'
  tb:
    directories: #[$COMPILE_ROOT/tb]
      - $COMPILE_ROOT/tb
      - $COMPILE_ROOT/coverage
    files:
#      - $COMPILE_ROOT/tb/dma_transfer_randomizer.sv
      - $COMPILE_ROOT/tb/caliptra_top_tb_pkg.sv
      - $COMPILE_ROOT/tb/dma_testcase_generator.sv
      - $COMPILE_ROOT/tb/caliptra_veer_sram_export.sv
      - $COMPILE_ROOT/tb/caliptra_top_tb_services.sv
      - $COMPILE_ROOT/tb/caliptra_top_tb_soc_bfm.sv
      - $COMPILE_ROOT/tb/caliptra_top_tb_axi_complex.sv
      - $COMPILE_ROOT/tb/caliptra_top_tb_axi_fifo.sv
      - $COMPILE_ROOT/coverage/caliptra_top_cov_if.sv
      - $COMPILE_ROOT/coverage/caliptra_top_cov_props.sv
      - $COMPILE_ROOT/coverage/caliptra_top_cov_bind.sv
      - $COMPILE_ROOT/test_suites/libs/jtagdpi/jtagdpi.sv

---
provides: [caliptra_top_tb]
schema_version: 2.4.0
requires:
  - caliptra_top_tb_pkg
targets:
  tb:
    directories:
      - $COMPILE_ROOT/tb
    files:
      - $COMPILE_ROOT/tb/caliptra_top_tb.sv
    tops: [caliptra_top_tb]
  sim:
    pre_exec: '$MSFT_SCRIPTS_DIR/run_test_makefile && echo "[PRE-EXEC] Copying ECC vector generator to ${pwd}" && cp $COMPILE_ROOT/../ecc/tb/ecc_secp384r1.exe . 
                && echo "[PRE-EXEC] Copying DOE vector generator to ${pwd}" && cp $COMPILE_ROOT/../doe/tb/doe_test_gen.py .
                && echo "[PRE-EXEC] Copying SHA256 wntz vector generator to ${pwd}" && cp $COMPILE_ROOT/../sha256/tb/sha256_wntz_test_gen.py .
                && echo "[PRE-EXEC] Copying MLDSA vector generator to ${pwd}" && cp $COMPILE_ROOT/../../submodules/adams-bridge/src/abr_top/uvmf/Dilithium_ref/dilithium/ref/test/test_dilithium5 .
                && echo "[PRE-EXEC] Copying MLDSA debug vector generator to ${pwd}" && cp $COMPILE_ROOT/../../submodules/adams-bridge/src/abr_top/uvmf/Dilithium_ref/dilithium/ref/test/test_dilithium5_debug .
                && echo "[PRE-EXEC] Copying mldsa directed vector to ${pwd}" && cp $COMPILE_ROOT/../mldsa/tb/smoke_test_mldsa_vector.hex .
                && echo "[PRE-EXEC] Copying MLKEM vector generator to $pwd" && cp -r $MSFT_SCRIPTS_DIR/models/ml-kem . && mkdir ml-kem/tv'
                
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
#        - '+define+CALIPTRA_INTERNAL_TRNG'
        - +define+CALIPTRA_TOP_TB
        - +define+CLP_ASSERT_ON
        #- '-v2k_generate'
        #- '-timescale=1ns/1ps'
        - '-noinherit_timescale=1ns/1ps'
        #- '-ucli -i dump.ucli'
      #sim:
        #- '-ucli -i dump.ucli'
      elab:
        # Suppress "Bit Size Exceeded" warning.
        # VCS flags this during elab for ram signals (found under
        # caliptra_top_tb_services) that are too large to collect
        # coverage on.
        # We don't want coverage on these, so disable the warning.
        - '-suppress=VCM-BSZEX'

---
provides: [caliptra_top_trng_tb]
schema_version: 2.4.0
requires:
  - caliptra_top_tb_pkg
targets:
  tb:
    directories:
      - $COMPILE_ROOT/tb
    files:
      - $COMPILE_ROOT/tb/caliptra_top_tb.sv
    tops: [caliptra_top_tb]
  sim:
    pre_exec: '$MSFT_SCRIPTS_DIR/run_test_makefile && echo "[PRE-EXEC] Copying ECC vector generator to ${pwd}" && cp $COMPILE_ROOT/../ecc/tb/ecc_secp384r1.exe . 
                && echo "[PRE-EXEC] Copying DOE vector generator to ${pwd}" && cp $COMPILE_ROOT/../doe/tb/doe_test_gen.py .
                && echo "[PRE-EXEC] Copying SHA256 wntz vector generator to ${pwd}" && cp $COMPILE_ROOT/../sha256/tb/sha256_wntz_test_gen.py .
                && echo "[PRE-EXEC] Copying MLDSA vector generator to ${pwd}" && cp $COMPILE_ROOT/../../submodules/adams-bridge/src/abr_top/uvmf/Dilithium_ref/dilithium/ref/test/test_dilithium5 .
                && echo "[PRE-EXEC] Copying MLDSA debug vector generator to ${pwd}" && cp $COMPILE_ROOT/../../submodules/adams-bridge/src/abr_top/uvmf/Dilithium_ref/dilithium/ref/test/test_dilithium5_debug .
                && echo "[PRE-EXEC] Copying mldsa directed vector to ${pwd}" && cp $COMPILE_ROOT/../mldsa/tb/smoke_test_mldsa_vector.hex .
                && echo "[PRE-EXEC] Copying MLKEM vector generator to $pwd" && cp -r $MSFT_SCRIPTS_DIR/models/ml-kem . && mkdir ml-kem/tv'
                
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        - +define+CLP_ASSERT_ON
        - '-noinherit_timescale=1ns/1ps'
        - '+define+CALIPTRA_INTERNAL_TRNG'
