---
provides: [caliptra_top_defines]
schema_version: 2.4.0
targets:
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/config_defines.svh
      - $COMPILE_ROOT/rtl/caliptra_reg_defines.svh
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/config_defines.svh
      - $COMPILE_ROOT/rtl/caliptra_reg_defines.svh
---
provides: [caliptra_top]
schema_version: 2.4.0
requires:
  - caliptra_top_defines
  - libs
  - kv_defines_pkg
  - pv_defines_pkg
  - dv_defines_pkg
  - el2_veer_pkg
  - el2_veer_wrapper
  - ahb_lite_bus
  - sha512_ctrl
  - sha256_ctrl
  - doe_ctrl
  - hmac_ctrl
  - ecc_top
  - keyvault
  - pcrvault
  - datavault
  - soc_ifc_top
  - entropy_src
  - csrng
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/caliptra_top.sv
    tops: [caliptra_top]
  rtl_lint:
    waiver_files:
      - $COMPILE_ROOT/config/design_lint/sglint_waivers
    black_box:
      - el2_veer_wrapper
  cdc:
    tcl_files:
      - $COMPILE_ROOT/config/cdc/integration_top.constraints.tcl
      - $COMPILE_ROOT/config/cdc/integration_top.waivers.tcl
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
#        - '+define+CALIPTRA_INTERNAL_TRNG'
        #- '-v2k_generate'
---
provides: [caliptra_top_tb]
schema_version: 2.4.0
requires:
  - asserts
  - libs
  - caliptra_top
  - el2_veer_pkg
  - el2_veer_wrapper
targets:
  tb:
    directories: [$COMPILE_ROOT/tb]
    files:
      - $COMPILE_ROOT/tb/caliptra_top_tb_pkg.sv
      - $COMPILE_ROOT/tb/caliptra_veer_sram_export.sv
      - $COMPILE_ROOT/tb/caliptra_top_tb_services.sv
      - $COMPILE_ROOT/tb/caliptra_top_tb.sv
    tops: [caliptra_top_tb]
  sim:
    pre_exec: '$TOOLS/scripts/run_test_makefile && echo "[PRE-EXEC] Copying ECC vector generator to ${pwd}" && cp $COMPILE_ROOT/../ecc/tb/ecdsa_secp384r1.exe .'
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
#        - '+define+CALIPTRA_INTERNAL_TRNG'
        - +define+CLP_ASSERT_ON
        #- '-v2k_generate'
        #- '-timescale=1ns/1ps'
        - '-noinherit_timescale=1ns/1ps'
        #- '-ucli -i dump.ucli'
      #sim:
        #- '-ucli -i dump.ucli'

