---
provides: [soc_ifc_pkg]
schema_version: 2.4.0
requires: []
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/soc_ifc_pkg.sv
      - $COMPILE_ROOT/rtl/mbox_csr_pkg.sv
      - $COMPILE_ROOT/rtl/sha512_acc_csr_pkg.sv
      - $COMPILE_ROOT/rtl/soc_ifc_reg_pkg.sv
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/soc_ifc_pkg.sv
---
provides: [soc_ifc_uvm_pkg]
schema_version: 2.4.0
requires: []
targets:
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/soc_ifc_pkg.sv
      - $COMPILE_ROOT/rtl/mbox_csr_uvm.sv
      - $COMPILE_ROOT/rtl/sha512_acc_csr_uvm.sv
      - $COMPILE_ROOT/rtl/soc_ifc_reg_uvm.sv
---
provides: [soc_ifc_top]
schema_version: 2.4.0
requires:
  - libs
  # for beh_lib with rvecc_encode/decode
  - el2_veer_pkg
  - soc_ifc_pkg
  - sha512_ctrl
targets:
  rtl:
    directories:
      - $COMPILE_ROOT/rtl
    files:
      - $COMPILE_ROOT/rtl/soc_ifc_top.sv
      - $COMPILE_ROOT/rtl/soc_ifc_boot_fsm.sv
      - $COMPILE_ROOT/rtl/soc_ifc_arb.sv
      - $COMPILE_ROOT/rtl/soc_ifc_reg.sv
      - $COMPILE_ROOT/rtl/mbox.sv
      - $COMPILE_ROOT/rtl/mbox_csr.sv
      - $COMPILE_ROOT/rtl/sha512_acc_top.sv
      - $COMPILE_ROOT/rtl/sha512_acc_csr.sv
      - $COMPILE_ROOT/rtl/wdt.sv
    tops: [soc_ifc_top]
  rtl_lint:
    directories: [$COMPILE_ROOT/config/design_lint]
    black_box:
      - mbox_csr
      - mbox_csr_pkg
      - soc_ifc_reg
      - soc_ifc_reg_pkg
    waiver_files:
      - $COMPILE_ROOT/config/design_lint/soc_ifc/sglint_waivers
    black_box:
      - sha512_acc_csr
      - mbox_csr
      - soc_ifc_reg
    tops: [soc_ifc_top]
---
provides: [soc_ifc_tb]
schema_version: 2.4.0
requires:
  - soc_ifc_top
  - caliptra_top_defines 
targets:
  tb:
    directories:
      - $COMPILE_ROOT/tb
    files:
      - $COMPILE_ROOT/tb/soc_ifc_tb_pkg.sv
      - $COMPILE_ROOT/tb/soc_ifc_tb.sv
    tops: [soc_ifc_tb]
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        - +define+CLP_ASSERT_ON
        #- '-v2k_generate'
        #- '-timescale=1ns/1ps'
        - '-noinherit_timescale=1ns/1ps'
        #- '-ucli -i dump.ucli'
      #sim:
        #- '-ucli -i dump.ucli'
