##########################################
#                                        #
# RTL Spyglass Lint Ruleset for caliptra #
#                                        #
##########################################

#==========================================================================
# The set of rules specified below were provided by AMD for use on Caliptra 
#==========================================================================

# Detects combinational loops
configure_lint_tag -enable -tag CombLoop -goal lint_rtl_msft -severity Error

# Do not use "x" in casez statements
configure_lint_tag -enable -tag DisallowXInCaseZ-ML -goal lint_rtl_msft -severity Error

# The conditions of a case/unique-case/priority-case construct should not be duplicated.
configure_lint_tag -enable -tag DuplicateCase-ML -goal lint_rtl_msft -severity Error

# RHS of assignment statement has a event control
configure_lint_tag -enable -tag EventControlInRHS-ML -goal lint_rtl_msft -severity Fatal

# Reports flip-flop clock pin driven by a constant value
configure_lint_tag -enable -tag FlopClockConstant -goal lint_rtl_msft -severity Error

# Possible discrepancy in the range index or slice of an array
configure_lint_tag -enable -tag ImproperRangeIndex-ML -goal lint_rtl_msft -severity Error

# Latch inferred
configure_lint_tag -enable -tag InferLatch -goal lint_rtl_msft -severity Error

# Always declare enum base type explicitly as sized logic type
configure_lint_tag -enable -tag LogicEnumBase-ML -goal lint_rtl_msft -severity Error

# Do not use negative or enum array index
configure_lint_tag -enable -tag NegativeIndex-ML -goal lint_rtl_msft -severity Error

# Functions of type real are not synthesizable
configure_lint_tag -enable -tag NoRealFunc-ML -goal lint_rtl_msft -severity Error

# Repeat statements are non-synthesizable
configure_lint_tag -enable -tag NonSynthRepeat-ML -goal lint_rtl_msft -severity Error

# Null Ports should not be defined
configure_lint_tag -enable -tag NullPort-ML  -goal lint_rtl_msft -severity Error

# Port used before defining
configure_lint_tag -enable -tag PortUsedBeforeDefine-ML -goal lint_rtl_msft -severity Error

# Signal is read before being set (Verilog)
configure_lint_tag -enable -tag SetBeforeRead-ML -goal lint_rtl_msft -severity Error

# Avoid using two state data type signals in RTL
configure_lint_tag -enable -tag TwoStateData-ML -goal lint_rtl_msft -severity Error

# Detects undriven but loaded input terminal of an instance
configure_lint_tag -enable -tag UndrivenInTerm-ML -goal lint_rtl_msft -severity Error

# Undriven but loaded net is detected in the design
configure_lint_tag -enable -tag UndrivenNet-ML -goal lint_rtl_msft -severity Error

# Undriven but loaded output port of a module detected
configure_lint_tag -enable -tag UndrivenOutPort-ML -goal lint_rtl_msft -severity Error

# Undriven output pins connected to instance input
configure_lint_tag -enable -tag UndrivenOutTermNLoaded-ML -goal lint_rtl_msft -severity Error

# Unloaded but driven output terminal of an instance detected
configure_lint_tag -enable -tag UnloadedOutTerm-ML -goal lint_rtl_msft -severity Error

# Do not declare unpacked structure outside the package
configure_lint_tag -enable -tag UnpackedStructUsed-ML -goal lint_rtl_msft -severity Error

# Identifies a module instance port connection that has incompatible width as compared to the port definition
configure_lint_tag -enable -tag W110 -goal lint_rtl_msft -severity Fatal

# Identifies the unequal length operands in the bit-wise logical, arithmetic, and ternary operators
configure_lint_tag -enable -tag W116 -goal lint_rtl_msft -severity Error

# A signal is read inside a combinational always block but is not included in the sensitivity list (Verilog)
configure_lint_tag -enable -tag W122 -goal lint_rtl_msft -severity Error

# Macro has been redefined
configure_lint_tag -enable -tag W143 -goal lint_rtl_msft -severity Error

# Use named-association rather than positional association to connect to an instance
configure_lint_tag -enable -tag W146 -goal lint_rtl_msft -severity Error

# Identifies the time declarations which are not synthesizable
configure_lint_tag -enable -tag W182c -goal lint_rtl_msft -severity Fatal

# Identifies the tri0 net declarations which are not synthesizable
configure_lint_tag -enable -tag W182g -goal lint_rtl_msft -severity Fatal

# Reports tri1 net declarations that are not synthesizable
configure_lint_tag -enable -tag W182h -goal lint_rtl_msft -severity Fatal

# Reports trireg declarations that are not synthesizable
configure_lint_tag -enable -tag W182k -goal lint_rtl_msft -severity Fatal

# Reports MOS switches, such as cmos, pmos, and nmos, that are not synthesizable
configure_lint_tag -enable -tag W182n -goal lint_rtl_msft -severity Fatal

# The 'default' or 'others' clause should be the last clause in a case statement
configure_lint_tag -enable -tag W187 -goal lint_rtl_msft -severity Fatal

# Do not write to input ports
configure_lint_tag -enable -tag W188 -goal lint_rtl_msft -severity Fatal

# Reports the truncation of extra bits
configure_lint_tag -enable -tag W19 -goal lint_rtl_msft -severity Error

# Multi-bit expression found when one-bit expression expected
configure_lint_tag -enable -tag W224 -goal lint_rtl_msft -severity Error

# Recursive task enable
configure_lint_tag -enable -tag W243 -goal lint_rtl_msft -severity Error

# Reports disable statements that are not synthesizable
configure_lint_tag -enable -tag W250 -goal lint_rtl_msft -severity Fatal

# Synthesis tools ignore delays
configure_lint_tag -enable -tag W257 -goal lint_rtl_msft -severity Error

# Reports a case expression width that does not match case select expression width
configure_lint_tag -enable -tag W263 -goal lint_rtl_msft -severity Error

# Some inputs to instance are not driven or unconnected
configure_lint_tag -enable -tag W287a -goal lint_rtl_msft -severity Error

# Inout port of an instance is not connected or connected net is hanging
configure_lint_tag -enable -tag W287c -goal lint_rtl_msft -severity Error

# Reports real operands that are used in logical comparisons
configure_lint_tag -enable -tag W289 -goal lint_rtl_msft -severity Fatal

# Reports real variables that are unsynthesizable
configure_lint_tag -enable -tag W294 -goal lint_rtl_msft -severity Fatal

# Reports event variables that are not synthesizable
configure_lint_tag -enable -tag W295 -goal lint_rtl_msft -severity Fatal

# Converting unsigned (reg type) to integer
configure_lint_tag -enable -tag W309 -goal lint_rtl_msft -severity Error

# Blocking assignment should not be used in a sequential block (may lead to shoot through)
configure_lint_tag -enable -tag W336 -goal lint_rtl_msft -severity Fatal

# Reports illegal case construct labels
configure_lint_tag -enable -tag W337 -goal lint_rtl_msft -severity Fatal

# Case equal operator (===) and case not equal (!==) operators may not be synthesizable
configure_lint_tag -enable -tag W339a -goal lint_rtl_msft -severity Fatal

# Reports an arithmetic comparison operator with unequal length
configure_lint_tag -enable -tag W362 -goal lint_rtl_msft -severity Warning

# Reports nonblocking assignment in a combinational block
configure_lint_tag -enable -tag W414 -goal lint_rtl_msft -severity Error

# Reports always or process constructs that do not have an event control
configure_lint_tag -enable -tag W421 -goal lint_rtl_msft -severity Error

# A port with a range is redeclared with a different range
configure_lint_tag -enable -tag W423 -goal lint_rtl_msft -severity Error

# Ensure that a function or a sub-program does not sets a global signal/variable
configure_lint_tag -enable -tag W424 -goal lint_rtl_msft -severity Fatal

# Ensure that a function or a sub-program does not sets a global signal/variable
configure_lint_tag -enable -tag W425 -goal lint_rtl_msft -severity Fatal

# Ensure that a tristate is not used below top-level of design
configure_lint_tag -enable -tag W438 -goal lint_rtl_msft -severity Error

# Ensure that for unsynthesizable reset sequence, first statement in the block must be an if statement
configure_lint_tag -enable -tag W442a -goal lint_rtl_msft -severity Fatal

# 'Z' or '?' value used
configure_lint_tag -enable -tag W444 -goal lint_rtl_msft -severity Error

# Reset/set is used both synchronously and asynchronously
configure_lint_tag -enable -tag W448 -goal lint_rtl_msft -severity Error

# Index variable is too short
configure_lint_tag -enable -tag W468 -goal lint_rtl_msft -severity Error

# Checks if loop step statement variables are not properly incremented or decremented
configure_lint_tag -enable -tag W479 -goal lint_rtl_msft -severity Error

# Inout port is not used
configure_lint_tag -enable -tag W494 -goal lint_rtl_msft -severity Error

# Ensure that all bits of a function are set.
configure_lint_tag -enable -tag W499 -goal lint_rtl_msft -severity Error

# An event variable is never triggered
configure_lint_tag -enable -tag W503 -goal lint_rtl_msft -severity Error

# Ensure that the signals or variables have consistent value.
configure_lint_tag -enable -tag W505 -goal lint_rtl_msft -severity Error

# Logical operation on a vector
configure_lint_tag -enable -tag W576 -goal lint_rtl_msft -severity Error

# Identifies the sequential logic in a non-synthesizable modelling style where clock and reset cannot be inferred
configure_lint_tag -enable -tag badimplicitSM1 -goal lint_rtl_msft -severity Error

# Identifies the implicit sequential logic in a non-synthesizable modeling style where states are not updated on the same clock phase
configure_lint_tag -enable -tag badimplicitSM2 -goal lint_rtl_msft -severity Error

# Identifies the non-synthesizable implicit sequential logic where event control expressions have multiple edges
configure_lint_tag -enable -tag badimplicitSM4 -goal lint_rtl_msft -severity Fatal

# Identifies the variable whose both the edges are used in an event control list
configure_lint_tag -enable -tag bothedges -goal lint_rtl_msft -severity Fatal

# Mixed conditions in sensitivity list may not be synthesizable (Verilog)
configure_lint_tag -enable -tag mixedsenselist -goal lint_rtl_msft -severity Fatal
