###############
# Load the Caliptra project ruleset (from caliptra_config)
###############
source $::env(CALIPTRA_CONFIG)/config/design_lint/spyglass_lint.policy 
