---
provides: [el2_veer_pkg]
schema_version: 2.4.0
requires: [soc_ifc_pkg]
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/el2_pdef.vh
      - $COMPILE_ROOT/rtl/include/el2_def.sv
      - $COMPILE_ROOT/rtl/common_defines.sv
      - $COMPILE_ROOT/rtl/lib/beh_lib.sv
  tb:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/el2_pdef.vh
      - $COMPILE_ROOT/rtl/include/el2_def.sv
      - $COMPILE_ROOT/rtl/common_defines.sv
---
provides: [el2_veer_wrapper]
schema_version: 2.4.0
requires: [el2_veer_pkg]
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/el2_mem.sv
      - $COMPILE_ROOT/rtl/el2_dma_ctrl.sv
      - $COMPILE_ROOT/rtl/el2_pic_ctrl.sv
      - $COMPILE_ROOT/rtl/el2_veer.sv
      - $COMPILE_ROOT/rtl/el2_veer_wrapper.sv
      - $COMPILE_ROOT/rtl/dbg/el2_dbg.sv
      - $COMPILE_ROOT/rtl/dec/el2_dec_decode_ctl.sv
      - $COMPILE_ROOT/rtl/dec/el2_dec_gpr_ctl.sv
      - $COMPILE_ROOT/rtl/dec/el2_dec_ib_ctl.sv
      - $COMPILE_ROOT/rtl/dec/el2_dec.sv
      - $COMPILE_ROOT/rtl/dec/el2_dec_tlu_ctl.sv
      - $COMPILE_ROOT/rtl/dec/el2_dec_trigger.sv
      - $COMPILE_ROOT/rtl/dmi/dmi_jtag_to_core_sync.v
      - $COMPILE_ROOT/rtl/dmi/dmi_wrapper.v
      - $COMPILE_ROOT/rtl/dmi/rvjtag_tap.v
      - $COMPILE_ROOT/rtl/exu/el2_exu_alu_ctl.sv
      - $COMPILE_ROOT/rtl/exu/el2_exu_div_ctl.sv
      - $COMPILE_ROOT/rtl/exu/el2_exu_mul_ctl.sv
      - $COMPILE_ROOT/rtl/exu/el2_exu.sv
      - $COMPILE_ROOT/rtl/ifu/el2_ifu_aln_ctl.sv
      - $COMPILE_ROOT/rtl/ifu/el2_ifu_bp_ctl.sv
      - $COMPILE_ROOT/rtl/ifu/el2_ifu_compress_ctl.sv
      - $COMPILE_ROOT/rtl/ifu/el2_ifu_iccm_mem.sv
      - $COMPILE_ROOT/rtl/ifu/el2_ifu_ic_mem.sv
      - $COMPILE_ROOT/rtl/ifu/el2_ifu_ifc_ctl.sv
      - $COMPILE_ROOT/rtl/ifu/el2_ifu_mem_ctl.sv
      - $COMPILE_ROOT/rtl/ifu/el2_ifu.sv
      - $COMPILE_ROOT/rtl/lib/ahb_to_axi4.sv
      - $COMPILE_ROOT/rtl/lib/axi4_to_ahb.sv
      - $COMPILE_ROOT/rtl/lib/el2_lib.sv
      - $COMPILE_ROOT/rtl/lib/mem_lib.sv
      - $COMPILE_ROOT/rtl/lib/el2_mem_if.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_addrcheck.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_bus_buffer.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_bus_intf.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_clkdomain.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_dccm_ctl.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_dccm_mem.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_ecc.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_lsc_ctl.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_stbuf.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu.sv
      - $COMPILE_ROOT/rtl/lsu/el2_lsu_trigger.sv
    tops: [el2_veer_wrapper]
  rtl_lint:
    directories: []
    waiver_files:
      - $COMPILE_ROOT/config/design_lint/el2_veer_wrapper/sglint_waivers
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        #- '-v2k_generate'
---
provides: [el2_veer_wrapper_tb]  
schema_version: 2.4.0
requires: 
  - caliptra_top_defines
  - el2_veer_pkg
  - el2_veer_wrapper
targets:
  tb:
    directories: 
      - $COMPILE_ROOT/tb
    files:
      - $COMPILE_ROOT/rtl/ifu/el2_ifu_tb_memread.sv
      - $COMPILE_ROOT/tb/el2_veer_wrapper_tb.sv
      - $COMPILE_ROOT/tb/ahb_sif.sv
    tops: [el2_veer_wrapper_tb]
  sim:
    pre_exec: $MSFT_TOOLS/scripts/run_test_makefile
global:
  tool:
    vcs:
      default:
        - '-assert svaext'
        #- '-v2k_generate'
        #- '-timescale=1ns/1ps'
        - '-noinherit_timescale=1ns/1ps'
        #- '-ucli -i dump.ucli'
      #sim:
        #- '-ucli -i dump.ucli'

