---
provides: [entropy_src_pkg]
schema_version: 2.4.0
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/entropy_src_main_sm_pkg.sv
      - $COMPILE_ROOT/rtl/entropy_src_ack_sm_pkg.sv
      - $COMPILE_ROOT/rtl/entropy_src_reg_pkg.sv
      - $COMPILE_ROOT/rtl/entropy_src_pkg.sv
---
provides: [entropy_src]
schema_version: 2.4.0
requires:
  - entropy_src_pkg
  - libs
  - kmac
  - prim_generic
  - prim_pkg
targets:
  rtl:
    directories: [$COMPILE_ROOT/rtl]
    files:
      - $COMPILE_ROOT/rtl/entropy_src_reg_top.sv
      - $COMPILE_ROOT/rtl/entropy_src_bucket_ht.sv
      - $COMPILE_ROOT/rtl/entropy_src_cntr_reg.sv
      - $COMPILE_ROOT/rtl/entropy_src_enable_delay.sv
      - $COMPILE_ROOT/rtl/entropy_src_markov_ht.sv
      - $COMPILE_ROOT/rtl/entropy_src_watermark_reg.sv
      - $COMPILE_ROOT/rtl/entropy_src_main_sm.sv
      - $COMPILE_ROOT/rtl/entropy_src_repcnts_ht.sv
      - $COMPILE_ROOT/rtl/entropy_src_adaptp_ht.sv
      - $COMPILE_ROOT/rtl/entropy_src_core.sv
      - $COMPILE_ROOT/rtl/entropy_src_repcnt_ht.sv
      - $COMPILE_ROOT/rtl/entropy_src_ack_sm.sv
      - $COMPILE_ROOT/rtl/entropy_src.sv
    tops: [entropy_src]
  tb:
    directories: [$COMPILE_ROOT/tb]
    files:
      - $COMPILE_ROOT/tb/physical_rng.sv
