# docs: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Register Documentation

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ["main"]

jobs:
  build:
    name: Build

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: Install peakrd-uvm
        run: |
          python3 -m pip install \
              peakrdl-uvm==2.2.0 \
              peakrdl-regblock==0.10.0 \
              peakrdl-html==2.9.0 \
              peakrdl-ipxact==3.3.0

      - name: Generate docs
        run: |
          echo Running script
          tools/scripts/reg_doc_gen.sh

      - name: Stage documents
        run: |
          mkdir -p /tmp/pages-docs/0.8
          cp -R src/integration/docs/caliptra_reg_html /tmp/pages-docs/0.8/internal-regs
          cp -R src/soc_ifc/docs/caliptra_top_reg_html /tmp/pages-docs/0.8/external-regs
          find /tmp/pages-docs

      - name: Generate GitHub Pages artifacts
        uses: actions/upload-pages-artifact@v1
        with:
          path: /tmp/pages-docs

  deploy:
    name: Deploy
    needs: build
    if: github.event_name == 'push'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-22.04
      
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
