
# docs: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

name: Interactive debugging

on:
  push:
    branches: ["main", "dev-goog", "dev-msft", "dev-public"]
  workflow_call:
    inputs:
      run_vltr:
        description: "Control parameter indicating if Verilator tests should be run or skipped"
        required: true
        type: string
        default: 'true'
  workflow_dispatch:

jobs:
  build_verilator:
    runs-on: ubuntu-22.04
    if: ${{ inputs.run_vltr == 'true' }}

    env:
      CARGO_INCREMENTAL: 0
      VERILATOR_VERSION: v5.038

      # cache bust if needed
      CUSTOM_CACHE_BUSTER: cd6ba052de27

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Restore verilator dir
        uses: actions/cache/restore@v3
        id: verilator_restore
        with:
          path: /opt/verilator
          key: verilator-${{ env.VERILATOR_VERSION }}-${{ env.CUSTOM_CACHE_BUSTER }}

      - name: Install verilator
        if: steps.verilator_restore.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git help2man perl python3 make autoconf g++ ccache\
            flex bison numactl perl-doc libfl2 libfl-dev \
            zlib1g zlib1g-dev
          cd /tmp
          git clone https://github.com/verilator/verilator.git
          cd verilator
          git checkout "${VERILATOR_VERSION}"
          autoconf
          ./configure --prefix=/opt/verilator CXX="ccache g++"
          make -j6
          sudo make install

      - name: Save verilator dir
        if: steps.verilator_restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          path: /opt/verilator
          key: verilator-${{ env.VERILATOR_VERSION }}-${{ env.CUSTOM_CACHE_BUSTER }}

      - name: Pack Verilator
        run: |
          cd /opt && tar -czvf verilator.tar.gz verilator/

      - name: Store Verilator binaries
        uses: actions/upload-artifact@v4
        with:
          name: verilator
          path: /opt/*.tar.gz
          retention-days: 1


  build_openocd:
    runs-on: ubuntu-22.04
    if: ${{ inputs.run_vltr == 'true' }}

    env:
      CARGO_INCREMENTAL: 0
      OPENOCD_REPO: https://github.com/antmicro/openocd
      OPENOCD_VERSION: riscv-nohalt

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Restore OpenOCD dir
        uses: actions/cache/restore@v3
        id: openocd_restore
        with:
          path: /opt/openocd
          key: openocd-${{ env.OPENOCD_VERSION }}-${{ env.CUSTOM_CACHE_BUSTER }}

      - name: Install OpenOCD
        if: steps.openocd_restore.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            make libtool pkg-config autoconf automake texinfo
          cd /tmp
          git clone -b "${OPENOCD_VERSION}" "${OPENOCD_REPO}"
          cd openocd
          git config --file=.gitmodules \
            submodule.src/jtag/drivers/libjaylink.url https://github.com/syntacore/libjaylink.git
          ./bootstrap
          ./configure --prefix=/opt/openocd --enable-remote-bitbang \
            CC="gcc" CXX="g++" \
            CFLAGS="-Wno-error=misleading-indentation -Wno-error=stringop-overflow"
          make -j6
          sudo make install

      - name: Save OpenOCD dir
        if: steps.openocd_restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v3
        with:
          path: /opt/openocd
          key: openocd-${{ env.OPENOCD_VERSION }}-${{ env.CUSTOM_CACHE_BUSTER }}

      - name: Pack OpenOCD
        run: |
          cd /opt && tar -czvf openocd.tar.gz openocd/

      - name: Store OpenOCD binaries
        uses: actions/upload-artifact@v4
        with:
          name: openocd
          path: /opt/*.tar.gz
          retention-days: 1

  gdb_tests:
    name: Run GDB debugging tests
    runs-on: ubuntu-22.04
    needs: [build_verilator, build_openocd]
    if: ${{ inputs.run_vltr == 'true' }}

    env:
      CARGO_INCREMENTAL: 0
      PKG_CONFIG_PATH: /opt/verilator/share/pkgconfig
      DEBIAN_FRONTEND: "noninteractive"

    steps:

      - name: Install Risc V Toolchain
        run: |
          # Building from source takes around 6.65 GB of disk and download size
          wget -O toolchain.tar.gz https://github.com/chipsalliance/caliptra-tools/releases/download/gcc-v12.1.0/riscv64-unknown-elf.gcc-12.1.0.tar.gz
          tar -xzf toolchain.tar.gz -C /opt/

      - name: Install dependencies
        run: |
          # For some reason GDB requires libpython3.8.so
          sudo add-apt-repository ppa:deadsnakes/ppa -y
          sudo apt update -qy && sudo apt install -qy --no-install-recommends \
            libpython3.8

      - name: Download Verilator binaries
        uses: actions/download-artifact@v4
        with:
          name: verilator
          path: /opt

      - name: Download OpenOCD binaries
        uses: actions/download-artifact@v4
        with:
          name: openocd
          path: /opt

      - name: Unpack binaries
        run: |
          pushd /opt
            tar -zxvf verilator.tar.gz
            tar -zxvf openocd.tar.gz
          popd

      - name: Setup path
        run: |
          echo /opt/riscv/bin:/opt/verilator/bin:/opt/openocd/bin >> $GITHUB_PATH

      - name: Clone repository
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Build Verilated simulation
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          mkdir run
          make -C run -f ${CALIPTRA_ROOT}/tools/scripts/Makefile verilator-build TESTNAME=infinite_loop DEBUG_UNLOCKED=1 \
            OBJCACHE=""
          make -C run -f ${CALIPTRA_ROOT}/tools/scripts/Makefile program.hex TESTNAME=infinite_loop

      - name: Test core register access
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          cd run
          ${CALIPTRA_ROOT}/.github/scripts/gdb_test.sh \
            /bin/bash -c 'cd ${CALIPTRA_ROOT}/src/integration/test_suites/infinite_loop && ./dump_and_compare.sh'

      - name: Test memory access
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          cd run
          ${CALIPTRA_ROOT}/.github/scripts/gdb_test.sh \
            /bin/bash -c 'cd ${CALIPTRA_ROOT}/src/integration/test_suites/infinite_loop && ./mem_access.sh'

      - name: Test peripheral access
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          cd run
          ${CALIPTRA_ROOT}/.github/scripts/gdb_test.sh \
            /bin/bash -c 'cd ${CALIPTRA_ROOT}/src/integration/test_suites/infinite_loop && ./peripheral_access.sh'

  openocd_tests:
    name: Run OpenOCD debugging tests
    runs-on: ubuntu-22.04
    needs: [build_verilator, build_openocd]
    if: ${{ inputs.run_vltr == 'true' }}

    env:
      CARGO_INCREMENTAL: 0
      PKG_CONFIG_PATH: /opt/verilator/share/pkgconfig
      DEBIAN_FRONTEND: "noninteractive"

    steps:

      - name: Install Risc V Toolchain
        run: |
          # Building from source takes around 6.65 GB of disk and download size
          wget -O toolchain.tar.gz https://github.com/chipsalliance/caliptra-tools/releases/download/gcc-v12.1.0/riscv64-unknown-elf.gcc-12.1.0.tar.gz
          tar -xzf toolchain.tar.gz -C /opt/

      - name: Download Verilator binaries
        uses: actions/download-artifact@v4
        with:
          name: verilator
          path: /opt

      - name: Download OpenOCD binaries
        uses: actions/download-artifact@v4
        with:
          name: openocd
          path: /opt

      - name: Unpack binaries
        run: |
          pushd /opt
            tar -zxvf verilator.tar.gz
            tar -zxvf openocd.tar.gz
          popd

      - name: Setup path
        run: |
          echo /opt/riscv/bin:/opt/verilator/bin:/opt/openocd/bin >> $GITHUB_PATH

      - name: Clone repository
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Build Verilated simulation
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          mkdir run
          make -C run -f ${CALIPTRA_ROOT}/tools/scripts/Makefile verilator-build TESTNAME=infinite_loop DEBUG_UNLOCKED=1 FORCE_CPU_RESET=1 \
            OBJCACHE=""
          make -C run -f ${CALIPTRA_ROOT}/tools/scripts/Makefile program.hex TESTNAME=infinite_loop

      - name: Test peripheral access with core in reset
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          cd run
          ${CALIPTRA_ROOT}/.github/scripts/openocd_test.sh \
            -f board/caliptra-verilator-rst.cfg \
            -f ${CALIPTRA_ROOT}/src/integration/test_suites/infinite_loop/peripheral_access.tcl

      - name: Build Verilated simulation
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          rm -rf run/*
          make -C run -f ${CALIPTRA_ROOT}/tools/scripts/Makefile verilator-build TESTNAME=infinite_loop DEBUG_UNLOCKED=1 \
            OBJCACHE=""
          make -C run -f ${CALIPTRA_ROOT}/tools/scripts/Makefile program.hex TESTNAME=infinite_loop

      - name: Test JTAG access with clock gating
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          cd run
          ${CALIPTRA_ROOT}/.github/scripts/openocd_test.sh \
            -f board/caliptra-verilator.cfg \
            -f ${CALIPTRA_ROOT}/src/integration/test_suites/infinite_loop/jtag_cg.tcl

      - name: Test JTAG register accesses
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          cd run
          ${CALIPTRA_ROOT}/.github/scripts/openocd_test.sh \
            -f board/caliptra-verilator.cfg \
            -f ${CALIPTRA_ROOT}/src/integration/test_suites/infinite_loop/jtag_reg_access.tcl

      - name: Build Verilated simulation
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          rm -rf run/*
          make -C run -f ${CALIPTRA_ROOT}/tools/scripts/Makefile verilator-build TESTNAME=infinite_loop \
            OBJCACHE=""
          make -C run -f ${CALIPTRA_ROOT}/tools/scripts/Makefile program.hex TESTNAME=infinite_loop

      - name: Test JTAG access locked
        run: |
          export CALIPTRA_ROOT=$(pwd)
          export ADAMSBRIDGE_ROOT=$CALIPTRA_ROOT/submodules/adams-bridge
          export CALIPTRA_AXI4PC_DIR=$CALIPTRA_ROOT/src/integration/tb
          export CALIPTRA_PRIM_ROOT=$CALIPTRA_ROOT/src/caliptra_prim_generic
          export CALIPTRA_PRIM_MODULE_PREFIX=caliptra_prim_generic
          cd run
          ${CALIPTRA_ROOT}/.github/scripts/openocd_test.sh \
            -f board/caliptra-verilator.cfg \
            -f ${CALIPTRA_ROOT}/src/integration/test_suites/infinite_loop/jtag_locked.tcl
