# docs: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

# This is the top-level workflow to run on all pull-requests, and invokes
# several other workflow dependencies
name: Pull Request

on:
  workflow_dispatch:
#  pull_request:

jobs:
  # Call auxiliary workflows
  pre_run:
    uses: ./.github/workflows/pre-run-check.yml
  verilator:
    uses: ./.github/workflows/build-test-verilator.yml
    needs: pre_run
#    with:
#      run_vltr: ${{ needs.pre_run.outputs.run_vltr }}
  interactive_dbg:
    uses: ./.github/workflows/interactive-debugging.yml
    needs: pre_run
#    with:
#      run_vltr: ${{ needs.pre_run.outputs.run_vltr }}
  doc_gen:
    uses: ./.github/workflows/doc-gen.yml
    permissions:
      pages: write
      id-token: write
  post_run:
    name: Call Post Run Final
    runs-on: ubuntu-22.04
    needs: [pre_run, verilator, interactive_dbg, doc_gen]
    # Force to run even if the prerequisites are skipped for any reason
    if: ${{ !cancelled() }}
    steps:
      - name: Checkout RTL repo
        uses: actions/checkout@v4
      - run: echo "Finalize"
